@font-face{
  font-family: 'Pixel';
  src: url('./fonts/Retro\ Gaming.ttf');
}

html, body, #root{
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.home{
  min-height: 100vh;
  display: grid;
  grid-template-rows: 185px 1fr;
}

.nav{
  background-color: #5597D4;
  color: #BF4540;
  font-size: 40pt;
  padding-left: 45px;
  padding-right: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav *:hover{
  cursor: pointer;
}

.nav h1{
  font-family: 'Pixel';
  font-weight: 50;
  margin: 0;
  padding: 0;
  line-height: normal;
}

.nav h1:hover{
  color: white;
}

.nav > img{
  height: 90%;
}

.navControls{
  height: 40%;
  display: flex;
  justify-content: flex-end;
}

.redSvg{
  filter: invert(35%) sepia(58%) saturate(933%) hue-rotate(320deg) brightness(91%) contrast(92%);
}

.redSvg:hover{
  filter: invert(96%) sepia(6%) saturate(499%) hue-rotate(175deg) brightness(117%) contrast(100%);
}

.shopArea{
  display: grid;
  justify-content: center;
  gap: 20px;
  padding-top: 20px;
  grid-template-columns: repeat(5, 250px);
  grid-auto-rows: min-content;
}

.item{
  font-family: 'Pixel';
  aspect-ratio: 2.5/3;
  border: 3px solid #5597D4;
  border-radius: 16px;
  display: grid;
  justify-items: center;
}

.item:hover{
  cursor: pointer;
}

.item > img{
  height: 100%;
}
