@font-face{
  font-family: 'Pixel';
  src: url('./fonts/Retro\ Gaming.ttf');
}

html{
  position: relative;
  overflow-x: hidden;
}

html, body, #root{
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.home{
  min-height: 100vh;
  display: grid;
  grid-template-rows: 185px 1fr;
}

.nav{
  position: sticky;
  min-width: 1135px;
  top: 0;
  background-color: #5597D4;
  color: #BF4540;
  font-size: 40pt;
  padding-left: 45px;
  padding-right: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav *:hover{
  cursor: pointer;
}

.nav h1{
  font-family: 'Pixel';
  font-weight: 50;
  margin: 0;
  padding: 0;
}

.nav h1:hover{
  color: white;
}

.nav > img{
  height: 90%;
}

.navControls{
  position: relative;
  height: 167px;
  width: 172px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navControls .cartCount{
  pointer-events: none;
  font-family: 'Pixel';
  text-align: center;
  color: white;
  position: absolute;
  z-index: 2;
  width: 93.65px;
  font-size: 36px;
  text-align: center;
  top: 9px;
  right: -5px;
}

.navControls > img{
  height: 50%;
}

.redSvg{
  filter: invert(35%) sepia(58%) saturate(933%) hue-rotate(320deg) brightness(91%) contrast(92%);
}

.redSvg:hover{
  filter: invert(96%) sepia(6%) saturate(499%) hue-rotate(175deg) brightness(117%) contrast(100%);
}

.redSvg:hover + h3{
  color: #BF4540;
}

.homeArea{
  display: grid;
  grid-template-columns: 1fr auto;
}

.shopArea{
  display: grid;
  justify-content: center;
  gap: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  grid-template-columns: repeat(auto-fill, 251px);
  grid-auto-rows: 400px;
}

.item{
  font-family: 'Pixel';
  border: 3px solid #5597D4;
  border-radius: 16px;
  display: grid;
  grid-template-rows: 105px auto;
  justify-items: center;
}

.item > img{
  height: 100%;
}

.itemInfo{
  width: 100%;
  display: grid;
  grid-template-rows: 75px 75px 50px 50px auto;
  justify-items: center;
  text-align: center;
}

.itemControls{
  width: 100%;
  display: flex;
}

.itemControls > button{
  border: 2px solid black;
  font-size: 26pt;
  width: 25%;
}

.item button:hover{
  background-color: rgb(196, 190, 190);
  cursor: pointer;
}

.itemControls > input{
  border: 2px solid black;
  font-size: 24pt;
  width: 50%;
  text-align: center;
}

.addToCartBtn{
  font-size: 14pt;
  font-family: 'Pixel';
  width: 100%;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  border: 2px solid black;
}

.cart{
  position: sticky;
  top: 185px;
  right: 0;
  font-family: 'Pixel';
  width: 500px;
  height: calc(100vh - 185px);
  background-color:#5597D4;
  transition: width 1.5s;
  display: grid;
  justify-items: center;
  grid-auto-rows: 75px;
  grid-auto-columns: 100%;
}

.collapse{
  border: 0px solid #5597D4;
  width: 0;
}

.cart > *{
  transition: opacity 4s;
}

.cart > button{
  font-size: 16pt;
  border: 5px solid #BF4540;
  border-radius: 32px;
  font-family: 'Pixel';
  width: 50%;
  transition: background-color 0.75s, color 0.75s, opacity 4s;
}

.cart > button:hover{
  cursor: pointer;
  background-color: #BF4540;
  color: #6cade9;
  transition: color 0.75s, background-color 0.75s;
}

.collapse > *{
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s;
}

.collapse > button{
  opacity: 0;
  transition: opacity 0s;
}

.cartItem{
  display: flex;
  align-items: center;
}

.cartItem > img{
  height: 100%;
}

.checkout{
  min-height: 100vh;
  display: grid;
  grid-template-rows: 185px 1fr;
}

.checkoutArea{
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: 75%;
  grid-template-rows: auto;
  grid-auto-rows: 150px;
  justify-content: center;
}

.checkoutItem{
  font-size: 18pt;
  font-family: 'Pixel';
  border-top: 4px solid #5597D4;
  border-left: 4px solid #5597D4;
  border-right: 4px solid #5597D4;
  padding-right: 20px;
  display: grid;
  align-items: center;
  grid-template-columns: min-content 1fr auto;
}

.checkoutItem:nth-of-type(1){
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.checkoutItem > img{
  height: 100%;
}

.checkoutArea > h1{
  font-size: 56pt;
  font-family: 'Pixel';
  text-align: center;
}

.checkoutArea > button{
  font-family: 'Pixel';
  font-size: 36pt;
  border: 5px solid #5597D4;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-content: center;
}

.checkoutArea > button:hover{
  cursor: pointer;
  background-color: #BF4540;
  color: #6cade9;
  transition: color 0.25s, background-color 0.75s;
}

.checkoutArea > button > img{
  height: 100%;
}

.orderConfirmation{
  min-height: 100vh;
  display: grid;
  grid-template-rows: 185px 1fr;
}

.orderConfirmationArea{
  display: grid;
  padding-top: 20px;
  justify-content: center;
  grid-template-rows: min-content;
  grid-auto-rows: 150px;
  grid-template-columns: 75%;
}

.orderConfirmationArea > h1, .orderConfirmationArea > h2{
  font-size: 42pt;
  font-family: 'Pixel';
  text-align: center;
}

.orderConfirmationArea > button{
  font-family: 'Pixel';
  font-size: 36pt;
  border: 5px solid #5597D4;
  border-radius: 32px;
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-content: center;
}

.orderConfirmationArea > button:hover{
  cursor: pointer;
  background-color: #BF4540;
  color: #6cade9;
  transition: color 0.25s, background-color 0.75s;
}

.orderConfirmationArea > button > img{
  height: 100%;
}
